/* General page styling */
html, body {
    margin: 0;
    padding: 0;
    background-color: #F5F5DC; /* Beige background to give a sunny LA feel */
    font-family: 'Roboto', sans-serif; /* Modern and clean font */
    color: #333; /* Dark grey text for good readability */
    padding-bottom: 1rem;
}

/* Title styling */
h1 {
    font-family: 'Pacifico', cursive; /* Nostalgic and chill font */
    font-size: 2.5em;
    text-align: center;
    color: #E91E63; /* A pop of color reminiscent of LA sunsets */
    margin-top: 20px;
}

/* Description styling */
p#description {
    background-color: rgba(255, 255, 255, 0.9); /* Light background for better readability */
    border-radius: 1rem;
    padding: 1.5rem;
    font-family: 'Merriweather', serif; /* Elegant and readable font */
    font-size: 1.2em;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    line-height: 1.6; /* Slightly increased line height for better readability */
    color: #333; /* Darker color for better contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    pointer-events: none;
}

/* Map container and SVG styling */
#map-container {
    width: 100%;
    height: 100%;
}
#map-graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjusted height for better layout */
    width: auto;
}

#map-svg {
    width: auto;
    height: 100vh;
}

/* Zone styling */
.zone {
    fill: #64B5F6 !important; /* Light blue fill for neighborhood zones */
    stroke: #1E88E5 !important; /* Dark blue stroke for clear boundaries */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.zone:hover {
    fill: #FFEB3B !important; /* Highlight color on hover */
    stroke: #FBC02D !important; /* Darker highlight for better visibility */
}

.zone:active {
    fill: #FF7043 !important; /* Vibrant orange fill on click for a bold effect */
    stroke: #D84315 !important; /* Darker orange stroke for emphasis */
    transform: scale(0.98); /* Slightly shrink to indicate active state */
}

/* Footer styling */
/*
foot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #E0E0E0; 
    color: #757575;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}
*/
/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Smaller title for tablets and small screens */
    }
    
    p#description {
        font-size: .95em; /* Smaller font size for paragraph on tablets and small screens */
        padding: 1rem; /* Adjust padding */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em; /* Even smaller title for mobile devices */
    }
    
    p#description {
        font-size: .85em; /* Smaller font size for paragraph on mobile devices */
        padding: 0.8rem; /* Adjust padding */
    }
}